<!doctype html>
<html>
<head>
<title>Bangladesh Post Code List</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/flatly/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="PostcodeApp">
<div class="container" ng-controller="PostcodeController">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ title }}</h1>
        </div>
        <div class="col-md-offset-8 col-md-4">
            <div class="input-group">
                <input type="text" ng-model="search" placeholder="Search" class="form-control">
                <span class="input-group-btn">
                    <button ng-click="search=''" class="btn btn-default">&times;</button>
                </span>
            </div>
        </div>
        <hr class="col-md-12">
        <div class="col-md-12">
            <tabs tab-type="nav-tabs nav-justified" ng-if="!search">
                <pane ng-repeat="(division, districts) in divisions" title="{{ division }}">
                    <tabs tab-type="nav-pills nav-stacked" title="District" pane-header="Thana">
                        <pane ng-repeat="(district, thanas) in districts" title="{{ district }}">
                            <div ng-repeat="(thana, codes) in thanas" title="{{ thana }}">
                                <div class="panel" ng-class-odd="'panel-success'" ng-class-even="'panel-info'">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{ thana }}</h3>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-6">Post office</th>
                                                <th>Postcode</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="code in codes">
                                            <th>{{ code.0 }}</th>
                                            <td>{{ code.1 }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </pane>
                    </tabs>
                </pane>
            </tabs>
            <div class="col-sm-4" ng-repeat="po in codes | filter: {suboffice: search}" ng-if="search">
                <div class="panel" ng-class-odd="'panel-success'" ng-class-even="'panel-info'">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ po.suboffice }} <small>PO</small></h3>
                    </div>
                    <table class="table table-striped">
                        <tr>
                            <th class="col-xs-6">Division</th>
                            <td>{{ po.division }}</td>
                        </tr>
                        <tr>
                            <th>District</th>
                            <td>{{ po.district }}</td>
                        </tr>
                        <tr>
                            <th>Thana</th>
                            <td>{{ po.thana }}</td>
                        </tr>
                        <tr>
                            <th>Post code</th>
                            <td>{{ po.postcode }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr class="col-md-12">
        <div class="col-sm-4 col-sm-offset-4">
            <table class="table table-striped">
                <caption>Statistics</caption>
                <tr>
                    <th>Divisions</th>
                    <td class="text-right">{{ stats.divisions }}</td>
                </tr>
                <tr>
                    <th>Districts</th>
                    <td class="text-right">{{ stats.districts }}</td>
                </tr>
                <tr>
                    <th>Thanas</th>
                    <td class="text-right">{{ stats.thanas }}</td>
                </tr>
                <tr>
                    <th>Post Offices</th>
                    <td class="text-right">{{ stats.offices }}</td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <hr class="col-md-12">
            <div class="col-md-12">
                This site does not take any responsibility about the data presented here.<br>
                Data source: <a href="{{ source }}">Bangladesh Post Office</a>.<br>
                Last updated on <strong>{{ updated_at | date:'medium' }}</strong>.
            </div>
        </div>
    </div>
    <noscript>
        <div class="jumbotron">
            Please enable javascript to view this site.
            You may also visit
            <a href="http://www.bangladeshpost.gov.bd/PostCode.asp">the official site</a>,
            in case you don't like or unable to use javascript.
        </div>
    </noscript>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
<script src="postcode.js"></script>
</body>
</html>
